@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-trade-custom {
  grid-template-rows: 1fr 1fr 0.1fr;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
