.ReactModal__Content {
  background-color: #0b1328 !important;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

/* Modal title */
.cqLErk {
  color: white !important;
}

/* Wallet selector block */
.bSIJid {
  background-color: #0b1328 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: none !important;
}

.bSIJid:hover {
  background-color: #141948 !important;
}

/* Wallet selector block title */
.fwqDmJ {
  color: white !important;
  font-size: 1.225rem !important;
}

/* Wallet selector block subtitle */
.cvonuO {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Tooltip coloring */
.tooltip {
  background-color: #141948 !important;
  opacity: 1 !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}
