.ReactModal__Content {
  background-color: #0b1328 !important;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

/* Modal title */
.ReactModal__Content > div {
  color: white !important;
}

/* Wallet selector option */
.ReactModal__Content > div:nth-child(3) > div {
  background-color: #0b1328 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: none !important;
}

.ReactModal__Content > div:nth-child(3) > div:hover {
  background-color: #141948 !important;
}

/* Wallet selector block title */
.ReactModal__Content > div:nth-child(3) > div > div > div:nth-child(1) {
  color: white !important;
  font-size: 1.225rem !important;
}

/* Wallet selector block subtitle */
.ReactModal__Content > div:nth-child(3) > div > div > div:nth-child(2) {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Tooltip coloring */
.tooltip {
  background-color: #141948 !important;
  opacity: 1 !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}
